// Bootstrap
@import "../vendors/bootstrap-5.1.3/scss/bootstrap-grid.scss";
@import "../vendors/bootstrap-5.1.3/scss/bootstrap-utilities.scss";
@import "../vendors/bootstrap-5.1.3/scss/buttons";
@import "../vendors/bootstrap-5.1.3/scss/carousel";

@import "./mixins/flexbox";
@import "./variables/base";
@import "./variables/common";
@import "./variables/typography";

@import "./components/header";
@import "./components/footer";

//pages
@import "./pages/contact";
@import "./pages/index";
@import "./pages/errorPage";
