*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  height: 109px;
  .navbar {
    box-sizing: border-box;
    .logo {
      position: relative;
      padding: 40px;
      z-index: 100;
      &::after {
        position: absolute;
        padding: 10px;
        background-color: yellow;
        width: 111%;
        content: "";
        transform: skew(-25deg);
        height: 100%;
        top: 0%;
        left: -12%;
        z-index: -1;
      }
    }
    .header-nav {
      width: 100%;
      .banners {
        background-color: black;
        color: white;
        height: 40%;
        padding: 10px;
        & .banners-firstPart {
          margin-left: 30px;
        }
        & .banners-secondPart {
          margin-right: 30px;
          text-align: center;
          padding: 9 px 5 px;
          letter-spacing: 0.5px;
          & > p {
            margin-left: 10px;
            margin-right: 5px;
          }
        }
      }
      .header-main {
        display: flex;
        justify-content: space-around;
        .header-menu {
          ul {
            li {
              position: relative;

              a {
                color: black;
                &:hover {
                  &:after {
                    content: "";
                    position: absolute;
                    top: 150%;
                    right: 2%;
                    background-color: yellow;
                    width: 100%;
                    height: 10px;
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .header-right {
      display: flex;
      justify-content: space-evenly;
      font-size: 20px;
      overflow: hidden;
      align-items: center;
      .search-section {
        form {
          .search-box {
            display: none;
            font-size: 16px;
            width: 200px;
            height: 25px;
            text-align: center;
            margin-right: 5px;
            border: none;
            outline: none;
            border-left: 1 px #a19a9a solid;
            opacity: 1;
            z-index: 100;
          }
          .search-button {
            border: none;
            font-size: 16px;
            background-color: white;
          }
        }
      }
      .basket-section {
        .basket {
          position: relative;
          & span {
            background: #ed6663;
            display: inline-block;
            color: #fff;
            width: 20px;
            border-radius: 20px;
            font-size: 15px;
            height: 20 px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            top: -10px;
          }
        }
        .cart-menu {
          display: none;
          width: 350px;
          position: absolute;
          top: 80%;
          right: 5%;
          z-index: 1000;
          background-color: white;
          .cart-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid black;
          }
          .product-menu {
            padding-top: 10px;
            position: relative;
            & .product-list {
              display: flex;
              align-items: center;
            }
            .img {
              width: 70px;
              height: 60px;
            }
            .deleteimage {
              position: absolute;
              right: 5px;
            }
            .item-details {
              margin-left: 10px;
              color: red;
              & .item-count {
                color: black;
              }
              & .item-name {
                color: black;
                &:hover {
                  color: red;
                  cursor: pointer;
                }
              }
            }

            .cart-buttons {
              display: flex;
              justify-content: space-around;
              padding-bottom: 15px;
              & a {
                margin-top: 20px;
                font-size: 16px;
                font-family: "Saira Condensed", sans-serif;
                display: inline-block;
                letter-spacing: 1px !important;
                background-color: rgb(139, 139, 139);
                color: #fff;
                padding: 10px 20px;
                white-space: nowrap;
                text-align: center;
                min-width: 120px;
                border: none;
                line-height: 150%;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                  background-color: #121212;
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .hamburger-section {
        margin-left: 5px;

        .user-menu {
          padding-top: 15px;
          display: none;
          width: 200px;
          position: absolute;
          top: 80%;
          right: 7%;
          z-index: 1000;
          line-height: 15px;
          background-color: white;
          text-align: center;

          & ul {
            text-transform: uppercase;
            li {
              font-size: 16px;
              padding-top: 6 px;
              padding-bottom: 6 px;
              border-bottom: 1 px solid black;
              letter-spacing: 0.5px;
              padding-left: 0;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
