*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

main {
  .blog-detail {
    width: 95%;
    margin: auto;
    .detail-item {
      background-color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #eee #eee #d5d5d5 #eee;
      box-shadow: 5px 10px 8px 10px #d5d5d5;
      padding: 30px;
      margin-bottom: 4%;

      .detail-img {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .detail-info {
        h2 {
          margin-top: 25px;
          font-size: 25px;
          font-family: "Saira Condensed", sans-serif;
          font-weight: 600;
          letter-spacing: 0.5px;
          line-height: 1.3em;
          margin-bottom: 10px;
        }
        .date-content {
          font-size: 13px;
          color: #a7a7a7;
          border-bottom: 1px solid #e5e5e5;
          padding-bottom: 10px;
        }
      }

      .detail-description {
        p {
          font-size: 14px;
          line-height: 1.9em;
          margin: 10px;
        }
      }
    }
    .detail-comments {
      background-color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #eee #eee #d5d5d5 #eee;
      box-shadow: 5px 10px 8px 10px #d5d5d5;
      padding: 30px;
      margin-bottom: 4%;
      .comment-header {
        h3 {
          color: #333e48;
          display: block;
          letter-spacing: normal;
          line-height: 21px;
          margin: auto;

          margin-bottom: 10px;
          font-size: 22px;
          font-family: "Saira Condensed", sans-serif;
          font-weight: 600;
        }
      }
      .comment-list {
        margin-top: 4%;
        display: flex;
        justify-items: center;
        border-bottom: 1px solid #e5e5e5;
        padding: 3%;
        .user-img {
          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
        }
        .comment-info {
          padding: 1%;
          strong {
            margin-right: 5px;
          }
          p {
            margin-top: 2%;
          }
        }
      }
      .reply-part {
        h3 {
          line-height: 21px;
          margin-top: 3%;
          color: #333e48;
          display: block;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
        }
        span {
          color: red;
        }
        form {
          margin-top: 3%;
          textarea {
            padding: 30px 10px;
            outline: none;
            color: #999;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 100%;
          }
          input {
            width: 100%;
            padding: 8px 10px;
            outline: none;
            color: #999;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-top: 2%;
          }
          .checkbox {
            margin-top: 2%;
            display: flex;
            align-items: center;
            padding-left: 2%;
            input {
              width: max-content;
              margin-top: 0;
            }
            label {
              font-weight: normal;
              font-size: 13px;
              color: #333;
            }
          }
          button {
            padding: 10px;
            line-height: 44px;
            font-size: 18px;
            font-weight: 500;
            background: #fbe122;
            border: none;
            color: #121212;
            margin-top: 3%;
            border-radius: 10px;
            &:hover {
              background-color: #ed6663;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .features-section {
    background-color: white;
    padding: 30px;
    .features {
      .feature-element {
        .feature-first-p {
          font-size: 26px;
          font-weight: 600;
          letter-spacing: 0.5px;
          color: #333;
          margin: 0px;
        }
        .feature-second-p {
          color: #999;
          padding: 0px;
          margin: 0px;
          padding-top: 3px;
        }
      }
    }
  }
  .newsletter-section {
    background: url(https://klbtheme.com/harrier/wp-content/uploads/2019/05/newsletter-bg.jpg);
    height: 300px;
    h5 {
      color: #fbe122;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: auto;
      padding-top: 30px;
      font-weight: 500;
      text-align: center;
      font-size: 26px;
    }
    h4 {
      margin-bottom: 23px;
      display: block;
      padding: 0px;
      font-family: "Saira Condensed", sans-serif;
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
    }
    .form-elements {
      text-align: center;
      form {
        input {
          border: none;
          background: #fff;
          width: 30%;
          display: inline;
          color: #a7a7a7;
          line-height: 20px;
          background-color: #fff;
          outline: none;
          font-size: 14px;
          font-family: open sans, sans-serif;
          padding: 20px;
        }
        .subs-btn {
          background-color: yellow;
          color: black;
          padding: 19px 28px 20px 28px;
          cursor: pointer;
          font-weight: 500;
          font-size: 15px;
          text-transform: uppercase;
          border: none;
          &:hover {
            background-color: #333;
            color: white;
            .envelope {
              color: white;
            }
          }
        }
      }
    }
  }

  .scroll-section {
    #btn-back-to-top {
      position: fixed;
      bottom: 40px;
      right: 20px;
      display: none;
    }
  }
}
