*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider-section {
  position: relative;
  z-index: 0;
  .filter-part {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 30%;
    background-color: white;
    padding: 20px;
    form {
      & .select2-container {
        margin-top: 4% !important;
      }
      button {
        margin-top: 15px;
        padding-top: 10px;
        width: 80%;
        margin-left: 10%;
        background-color: #fbe122;
        text-align: left;
        line-height: 25px;
        font-weight: 400;
        border-color: rgb(18, 18, 18) rgb(18, 18, 18) rgb(236, 210, 19);
        border-style: none none solid;
        border-width: 0 px 0 px 3 px;
        color: black;
      }
    }
  }
  & .commerce-part {
    position: absolute;
    top: 20%;
    right: 23%;
    h6 {
      font-size: 20px;
      color: rgb(80, 178, 252);
      padding-bottom: 10px;
    }
    h4 {
      z-index: 10;
      color: red;
    }
    p {
      font-size: 15px;
      padding-bottom: 20px;
    }
    button {
      padding: 20px 20px;
      white-space: nowrap;
      background-color: yellow;
      color: blue;
      text-align: center;
      min-width: 150px;
      border: none;
      font-size: 17px;
      line-height: 150%;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}
