*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-img-section {
  img {
    width: 100%;
  }
}

.list-section {
  width: 95%;
  margin: auto;
  padding-top: 5%;

  .vehicles {
    background-color: initial;
    height: max-content;
    padding-bottom: 2%;
    .car-categories {
      margin-bottom: 4%;
      background-color: white;

      .category-name {
        background-color: #23292e;
        h3 {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          padding: 15px;
        }
      }

      ul {
        li {
          border-bottom: 1px #f2f2f2 solid;
          padding: 10px 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: #333;
            text-transform: uppercase;
            display: block;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
          }
          img {
            width: 20%;
          }
        }
      }
    }
    .popular-vehicles {
      background-color: white;
      height: max-content;
      padding-bottom: 2%;

      .car-item {
        border-bottom: 1px solid #e5e5e5;
        .car-image {
          img {
            width: 100%;
            border: 1px solid #e5e5e5;
            margin-left: 10px;
            height: 100%;
            object-fit: cover;
          }
        }

        .car-details {
          p {
            a {
              color: black;
            }
          }
          .car-brand {
            margin-left: 10px;
          }
          .car-price {
            color: red;
            margin-top: 10px;
          }
        }
      }

      .part-name {
        background-color: #23292e;
        h3 {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          padding: 15px;
        }
      }
    }
  }

  .carlists {
    padding: 10px;
    background-color: white;
    img {
      width: 100%;
    }
    .brand-name {
      p {
        font-size: 16px;
        color: #121212;
        font-weight: 500;
        text-align: left;
        font-family: "Saira Condensed", sans-serif;
        letter-spacing: 0.5px;
      }
      .description {
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        color: #666;
        line-height: 1.5em;
        margin-top: 3%;
        text-align: left;
        width: 100%;
      }
      a {
        span {
          margin-left: 10px;
          margin-right: 10px;
          color: #999;
        }
        i {
          color: #fbe122;
        }
      }
      .brand-price {
        font-size: 18px;
        color: #000;
        font-weight: 600;
        margin-top: 4%;
      }

      .view-more {
        font-size: 16px;
        display: inline-block;
        padding: 10px;
        background-color: #fbe122;
        color: #121212;
        i {
          color: black;
          margin-right: 10px;
        }
        &:hover {
          background-color: #121212;
          color: white;
          i {
            color: white;
          }
        }
      }
    }

    .car-item {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 3%;
      padding-top: 2%;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.features-section {
  background-color: white;
  padding: 30px;
  .features {
    .feature-element {
      .feature-first-p {
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #333;
        margin: 0px;
      }
      .feature-second-p {
        color: #999;
        padding: 0px;
        margin: 0px;
        padding-top: 3px;
      }
    }
  }
}
.newsletter-section {
  background: url(https://klbtheme.com/harrier/wp-content/uploads/2019/05/newsletter-bg.jpg);
  height: 300px;
  h5 {
    color: #fbe122;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    padding-top: 30px;
    font-weight: 500;
    text-align: center;
    font-size: 26px;
  }
  h4 {
    margin-bottom: 23px;
    display: block;
    padding: 0px;
    font-family: "Saira Condensed", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .form-elements {
    text-align: center;
    form {
      input {
        border: none;
        background: #fff;
        width: 30%;
        display: inline;
        color: #a7a7a7;
        line-height: 20px;
        background-color: #fff;
        outline: none;
        font-size: 14px;
        font-family: open sans, sans-serif;
        padding: 20px;
      }
      .subs-btn {
        background-color: yellow;
        color: black;
        padding: 19px 28px 20px 28px;
        cursor: pointer;
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        &:hover {
          background-color: #333;
          color: white;
          .envelope {
            color: white;
          }
        }
      }
    }
  }
}
